.board {
  /* width: 500px; */
}

.space {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}


.bottom {
  border-bottom: 200px solid #f00;
}

.top {
  border-top: 200px solid #f00;
}

.corner {
  display: flex;
  position: absolute;
}

.top-right {
  top: 0px;
  right: 0px;
}

.top-left {
  top: 0px;
  left: 0px;
}

.bottom-left {
  left: 0px;
  bottom: 0px;
}

.bottom-right {
  right: 0px;
  bottom: 0px;
}
